$primary-color: #7858A6;

.flex-item {
    display: flex;
    font-size: 20px;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem;

    img{
        max-width: 450px;
    }

    h2:hover{
        color: $primary-color;
    }
}